<a href="/post/{{id}}" class="text-decoration-none">
    <article class="post text-info">
            <div class="title">
            {{title}}
            </div>
            <div class="meta">
            {{vote_count}} {{format_plural "like" vote_count}} | created by {{user.username}} on
            {{format_date created_at}}
            |
            {{comments.length}} comment(s)
            </div>        
    </article>
</a>